<div class="container">
    <div class="d-flex justify-content-between mt-3">
        <h1>About</h1>
    </div>
    <hr>
    <div>
        <img class="d-block" src="../../../assets/img/tennisclub.drawio.png" alt="erd">
        <h2>User journeys + context</h2>
        <p>Clubhuis kan een competitie organiseren.<br> Speler kan meedoen aan een competitie, dit hoeft niet.<br> Speler kan alle spelers zien die aan zijn/haar competitie meedoen.<br> Speler kan zich aanmelden bij een trainig die voor een periode geldt.
            <br> Deze training wordt aangemaakt door de trainer.</p>
        <p>Als gebruiker kom je op de website en zie je een overzicht van alle wedstrijden die je gespeeld heb en je geplande training. Je kan je aanmelden voor een training en voor een competitie.</p>
        <p>FTP werkt</p>
    </div>
</div>